<section class="phx-hero">
  <h1>日報システム</h1>
  <p>これは、日々の振り返りをちょっぴりリッチに、計測できるシステムです</p>
</section>

<section class="row">
  <article class="column column-50 column-offset-50">
    <a class="button" href="<%= Routes.session_path(@conn, :new) %>">ログイン</a>
  </article>
</section>
